body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.avatarField {
  height: 60px;
  width: 60px;
  overflow: hidden;
  padding: 5px;
}

.avatarField img {
  height: 100%;
  width: 100%;
  margin: 0;
}

.paymentHistory input, .paymentHistory textarea {
  width: 360px;
}